#error {
    width: 100%;
    background-color: rgb(254, 209, 209);
    padding: 20px;
    text-align: center;
    color: red;
    border: 1px solid red;
}

body {
    position: relative;
    z-index: 1000;
}

.red-input {
    border: 1px solid red;
}